body {
  background-color: #f4efec;
}

button {
  background-color: #ff7b7b;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

form input {
  background-color: #ddb7ac;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
form button {
  background-color: #ddb7ac;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  color: #999b85;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

section {
  background-color: #f0d9d1;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.atividadeMixin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.atividadeMixin .card-primario {
  background-color: #3c485e;
  color: #ecefde;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 10px;
  width: 200px;
  height: 200px;
}
.atividadeMixin .card-secundario {
  background-color: #bb9684;
  color: #496043;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 10px;
  width: 200px;
  height: 200px;
}
.atividadeMixin .card-terciario {
  background-color: #d2bfb1;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px;
  width: 200px;
  height: 200px;
}

.loops .col-1 {
  width: 8.3333333333%;
}
.loops .col-2 {
  width: 16.6666666667%;
}
.loops .col-3 {
  width: 25%;
}
.loops .col-4 {
  width: 33.3333333333%;
}
.loops .col-5 {
  width: 41.6666666667%;
}
.loops .col-6 {
  width: 50%;
}
.loops .col-7 {
  width: 58.3333333333%;
}
.loops .col-8 {
  width: 66.6666666667%;
}
.loops .col-9 {
  width: 75%;
}
.loops .col-10 {
  width: 83.3333333333%;
}
.loops .col-11 {
  width: 91.6666666667%;
}
.loops .col-12 {
  width: 100%;
}
.loops div {
  height: 50px;
  background-color: #999b85;
  border: 2px solid white;
}
.loops .linha {
  display: flex;
  flex-direction: row;
  background-color: white;
}